<form action="#" class="form margin2">
    <% test_options.each do |option| %>

    <div class="form__group">
      <input type="radio" class="form__radio-input" name= <%= name %> id= <%= option.tr(" ", "")%>   >
      <label for=<%= option.tr(" ", "")%>  class="form__radio-label" name= <%= name %>>
        <span class="form__orange1"></span>
        <span class="form__orange2"></span>
        <span class="form__radio-button"></span>
        <div class="form__radio-label__text">
          <h5><%= option  %></h5>
        </div>
      </label>

    </div>
  <% end  %>

  <br>
  <br>
  <div class=" margin-bottom2">
    <button id= <%= name %>__button class="button button__comprobar margin2 margin-bottom2" disabled> Comprobar </button>
  </div>
</form>
