
<% t =  data.origen%>
<div id="home">
  <%=partial(:'components/sidebar-infecciosos')  %>

  <div id="main">
    <div class="container">
      <div class="content">
      <div id="infecciosos-presentacion">
        <%= partial(:'components/header1', :locals => { :text => "Agentes infecciosos y cáncer"}) %>


          <%= partial(:'components/header2', :locals => { :text => t.presentacion, :number => ' ' }) %>
          <p class= "indented margin5 "> Hoy en día se sabe que más del 15% de los cánceres en humanos son causados por agentes infecciosos. Estos desempeñan un papel fundamental, ya sea como carcinógenos directos o indirectos. El conocimiento de este campo es fundamental, puesto que los tumores de etiología infecciosa pueden ser prevenidos mediante vacunas o medicamentos específicos contra el agente en cuestión. </p>
          <br>
          <p class= "indented  "> En este módulo se revisa la asociación de varios agentes que juegan roles fundamentales en determinados tipos de tumores. </p>
         <br><br>
        </div>
       

        <div id="infecciosos-objetivos">
          <%= partial(:'components/header2', :locals => { :text => t.objetivos, :number => ' ' }) %>
          <%= partial(:'components/list',  :locals => { :list_items => [["", "Comprender que los agentes infecciosos son una de las principales causas de cáncer en los seres humanos."], ["", "Entender cuáles son los mecanismos por los que un agente infeccioso puede llegar a inducir el desarrollo de un cáncer."], ["", "Conocer los principales virus, bacterias y parásitos implicados en la etiología del cáncer"]]}) %>
        </div>

        <div id="infecciosos-introduccion">
        <%= partial(:'components/header2', :locals => { :text => "Introducción", :number => ' ' }) %>  

          <p class= "indented margin5"> Los agentes infecciosos son una de las causas principales de cáncer en los seres humanos: en torno al 15% de todos los tumores malignos se asocian a una etiología viral. Es posible que este porcentaje crezca a medida que avance la investigación y se identifiquen nuevos virus humanos. Conocer que un determinado tipo de tumor está asociado a una etiología viral tiene importantes consecuencias tanto para su tratamiento como para su prevención. </p>

         <div class="concepto-clave--background">
            <div class="concepto-clave__title">A modo de ejemplo</div>
            <p class="margin2">Por ejemplo, ahora podemos esperar la eliminación de muchos de los casos de carcinoma hepatocelular o de cáncer de cérvix, debido al desarrollo y uso de vacunas eficaces contra el virus de la hepatitis B (VHB) y algunas de las cepas del virus del papiloma humano (VPH), así como fármacos antivirales activos con el virus de la hepatitis C (VHC).</p>
          </div> 

          <p  class="indented margin5">De manera resumida existen varios mecanismo por los que un agente infeccioso puede provocar cáncer:</p>

          <%= partial(:'components/list',  :locals => { :list_items => [["", "El primero es el más común, y resulta de la premisa de que un agente infeccioso provoca una infección persistente con la consiguiente inflamación crónica. Esto daría lugar a la formación de radicales libres de oxígeno, que a su vez pueden dañar el ADN, contribuyendo a la carcinogénesis. Una inflamación crónica debido a la infección persistente puede conducir a una excesiva proliferación celular. "], ["", "Un segundo mecanismo consistiría en la participación directa del agente infeccioso en la transformación de la célula (hacia una célula tumoral) mediante activación de oncogenes o inactivación de un gen supresor."] , [ "", "Un tercer mecanismo es que la infección puede dar lugar a la inmunosupresión y la disminución del reconocimiento de las células infectadas por el sistema inmunitario del huésped. Esto es lo que ocurre con el virus de la inmunodeficiencia humano (VIH). De hecho, estos pacientes tienen un especial riesgo para desarrollar tumores de etiología infecciosa. "]]}) %>  

          <p class="indented margin5">A continuación se presentan algunos de los agentes infecciosos conocidos y relacionados con diferentes tipos de tumores. </p>        
        </div>

        <div id="infecciosos-virus">

           <%= partial(:'components/header2', :locals => { :text => "Virus", :number => '01.' }) %>

          <div id="infecciosos-VEB">
           <%= partial(:'components/header3', :locals => { :text => "Virus de Epstein-Barr (VEB): ", :number => '01.01' }) %>
           <p class="indented margin5"> Es un virus miembro de la familia de los herpesvirus, junto al virus del herpes simple tipo 1 y 2, citomegalovirus o el virus de la varicela zóster. Tiene tropismo por las células linfoides, e infecta las células epiteliales de la orofaringe y los linfocitos B. La infección de las células B es latente, no existe replicación del virus y las células no mueren. Es un virus muy común, más del 90% de los seres humanos han sufrido la infección del mismo cuando llegan a la edad adulta. Fue el primer virus reconocido como virus tumoral humano a través de los estudios de un tipo de linfoma (de Burkitt) descrito en niños pequeños en África Oriental. </p>
           <p class="indeted">Relacionado con: </p>

            <%= partial(:'components/list',  :locals => { :list_items => [
            	["Linfoma de Burkitt: ","Es endémico de África Oriental. Es un linfoma monoclonal, y se caracteriza por el rápido crecimiento del tumor en sitios como la mandíbula o el retroperitoneo. En más del 90% se observa una traslocación del brazo largo del cromosoma 14 con el cromosoma 8 (contiene el oncogén c-<i>MYC</i>). Con esta traslocación, la expresión de <i>MYC</i> se altera (activación de oncogén). "], 
            	["Carcinoma nasofaríngeo o de cavum: ", "Este tumor también está asociado al VEB. Su genoma está presente en casi todas las biopsias de los carcinomas anaplásicos de cavum. Las tasas de incidencia anual son bajas, excepto en zonas meridionales de China."] , 
            	[ "Linfoma de Hodgkin: ", "Los cuatro tipos histológicos de LH varían en la tasa de positividad para el VEB: 80-90% para el LH con agotamiento linfocítico, 60-75% para LH con celularidad mixta, 20-30% para LH con esclerosis nodular y 10% para LH clásico rico en linfocitos. Las proteínas del VEB y su ADN pueden encontrarse en el 40% de las células de Reed-Sternberg."], 
            	[ "Carcinoma gástrico: ", "El VEB está presente en alrededor del 10% de los carcinomas gástricos, con una prevalencia similar en Estados Unidos y Asia."], 
            	[ "Linfomas no Hodgkin: ", "El VEB está presente en aproximadamente el 6% de los caoss de LNH. "]]}) %>  
          <div class="card_row">
            <%= partial(:'components/card', :locals => { :title => "Herpesvirus del Sarcoma de Kaposi: ", :body => "También conocido como Herpesvirus humano 8 (HV8). Relacionado con el Sarcoma de Kaposi, la neoplasia más común asociada al SIDA. A diferencia de otros herpesvirus humanos, la infección por el HV8 no es ubicua y solo un pequeño porcentaje de las personas de las países desarrollados son serológicamente positivas para el virus. La infección por este virus es latente, y en un entorno de inmunodepresión o inmunodeficiencia, los individuos infectados pueden desarrollar sarcoma de Kaposi. " }) %>
          </div>
        </div>


        <div id="infecciosos-hepatocarcinoma">
           <%= partial(:'components/header3', :locals => { :text => "Virus y hepatocarcinoma: ", :number => '01.02' }) %>     
           <p class="indented margin5">El hepatocarcinoma está relacionado con infecciones por dos tipos de virus diferentes, el virus de la hepatitis B (VHB) y el virus de la hepatitis C (VHC). Es relativamente raro en Occidente, pero bastante frecuente en el sudeste asiático y África subsahariana. La OMS ha estimado que el 80% de los carcinomas hepatocelulares de todo el mundo se producen en personas infectadas de manera crónica por el VHB. Para el 20% restante, existen otros factores de riesgo, entre los que se encuentra la infección crónica por VHC.</p>   
            <p class="indented">En zonas endémicas, el VHB se transmite de la madre al niño durante el parto o de modo horizontal en el entorno doméstico (exposición a sangre infectada). También se puede producir a través de pinchazos, tatuajes, o líquidos infectados como la saliva, el semen o el flujo vaginal, por lo que también puede haber transmisión sexual. Aunque la vacunación contra el VHB es eficaz para prevenir la infección y la enfermedad subsiguiente, todavía hay aproximadamente 250 millones de personas en el mundo con infecciones crónicas, que corren el riesgo de desarrollar cirrosis y hepatocarcinoma. Los tratamientos actuales para los infectados crónicos incluyen el interferón-α pegilado o el tenofovir. Estos tratamientos no son curativos, y reducen la detección de antígenos virales en torno al 10% de los pacientes, pero no eliminan el ADN viral de los núcleos de los hepatocitos, que mantienen la infección crónica. </p>  
            <p class="indented">En el caso de la hepatitis C, la transmisión es por sangre (consumo de drogas inyectables, reutilización de material médico, transfusiones de sangre). También se puede transmitir por vía sexual o de madre a hijo, pero es mucho menos frecuente. No existe una vacuna eficaz contra la hepatitis C, la prevención depende de la reducción del riesgo de exposición al virus en el entorno sanitario y en grupos de población de alto riesgo. No todas las infecciones por VHC requieren tratamiento, solo en aquellos casos que se cronifican. En este caso, existen tratamientos curativos, los antivíricos de acción directa pangenotípicos (eficaces frente a todos los genotipos del VHC). Existen varios en el mercado (Harvoni®, Zepatier®, Epclusa®, etc). El acceso a estos tratamientos está mejorando, pero sigue siendo limitado.</p>
        </div>

        <div id="infecciosos-VPH">
            <%= partial(:'components/header3', :locals => { :text => "Virus del papiloma humano (VPH): ", :number => '01.03' }) %>     
           <p class="indented margin5">Este virus es el causante de las verrugas y papilomas y está asociado con algunos tipos de tumores malignos. Actualmente existen más de 140 tipos diferentes de VPH, y se siguen descubriendo nuevos tipos. Tiene un tropismo específico por los queratinocitos o células epiteliales escamosas. Sólo algunos tipos de VPH están asociados al cáncer. </p>     

           <%= partial(:'components/list',  :locals => { :list_items => [
            	["Cáncer de cérvix: ","Es la tercera neoplasia maligna más frecuente en las mujeres de todo el mundo, y es mucho más frecuente en países no desarrollados. La progresión de las células epiteliales del cuello uterino normal a carcinomas de células escamosas ocurre a través de una serie de cambios displásicos en un período de tiempo muy prolongado. Las neoplasias intraepiteliales cervicales (CIN) de grado 1,2 y 3 se corresponden con displasia leve, moderada y severa o carcinoma in situ, respectivamente. Debido al largo período de progresión de estas entidades a cáncer invasivo, los programas de detección precoz pueden identificar la gran mayoría de las lesiones premalignas, previniendo el desarrollo de cáncer de cérvix en la mayoría de los países desarrollados con programas de detección. El 70% de los cánceres de cérvix están asociados al VPH16 y VPH18, y junto a los tipos VPH 31, 33, 35, 45, 52 y 58 representan el 95% del total de estos tumores malignos. Existen otros tipos de virus de menor riesgo, como el VPH6 y VPH11, asociados a las verrugas venéreas, que rara vez progresan a lesiones malignas. "], 
            	["Otros tipos de cáncer asociados a VPH: ", "El VPH puede infectar otras áreas genitales que contienen epitelio escamoso y causar así neoplasias intraepiteliales y posteriormente cáncer. El VPH 16 puede encontrarse en cáncer de vulva, vagina y pene. El condiloma acuminado gigante (tumor de Buschke-Lowenstein), es un carcinoma de células escamosas localmente invasivo de bajo grado, que afecta a los genitales externos y está asociado a VPH de bajo riesgo, generalmente VPH1 y VPH11. El cáncer anal también está asociado con la infección de VPH, generalmente con el VPH16. Algunos de los tumores de cabeza y cuello, sobre todo orofaringe también están asociados al VPH (VPH16). El sexo oral es uno de los factores de riesgo de riesgo de este tipo de tumores asociados al VPH. "] , 
            	[ "Epidermodisplasia verruciforme: ", "Es un trastorno raro, hereditario, de patrón autosómico recesivo, en el que múltiples verrugas suelen desarrollarse en la infancia, se extienden y en aproximadamente el 30% de los pacientes pueden evolucionar a tumores de células escamosas. Están implicados el VPH5 y 8. Suelen aparecer en zonas expuestas al sol, lo que sugiere que la radiación UV puede desempeñar un papel como co-carcinógeno."]]}) %>   

            	          <div class="card_row">
            <%= partial(:'components/card', :locals => { :title => "Vacuna frente al VPH", :body => ": Uno de los avances más importantes en la prevención del cáncer humano ha sido el desarrollo de una vacuna preventiva eficaz frente a los principales tipos de VPH. Una de ellas (Cervarix de GlaxoSmithKline) es una vacuna bivalente frente al VPH 16 y 18, mientras que Gardasil (Merck) es tretravalente frente a VPH 6, 11, 16 y 18. Ambas son seguras, capaces de producir títulos elevados de anticuerpos y muy eficaces para prevenir la adquisición de la infección a nivel del cérvix y las PIN de alto y bajo grado causadas por los VPH frente a los que se dirige la vacuna. Ninguna de las 2 vacunas protege de manera significativa frente al VPH 35 o 58, por lo que es importante que estas mujeres se sigan sometiendo a las programas de detección precoz. Se espera que la segunda generación de vacunas frente al VPH abarque más tipos de este virus. Estas vacunas se han introducido en los programas de vacunación de unos 30 países, centrándose en la vacunación de niñas de 9 a 15 años, ya que el 90% de los tumores asociados a este virus se dan en mujeres. No obstante, se sabe que estas vacunas protegen también a varones jóvenes de las verrugas genitales y del cáncer de canal anal, lo que justifica que se deban considerar programas de vacunación también en hombres.  " }) %>
          </div>
        </div>

        <div id="infecciosos-merkel">

         <%= partial(:'components/header3', :locals => { :text => "Poliomavirus de células de Merkel: ", :number => '01.04' }) %>     
           <p class="indented margin5">El carcinoma de células de Merkel es un cáncer relativamente raro, agresivo y que se observa en personas inmunodeprimidas. El ADN de este papiloma se encuentra integrado en estos tumores en más del 80% de los casos. Este poliomavirus es bastante frecuente y la infección inicial se produce en la infancia. Puede encontrarse en la piel de individuos sanos y es bastante ubicuo en la población humana. </p> 

        </div>

        <div id="infecciosos-retrovirus">

         <%= partial(:'components/header3', :locals => { :text => "Retrovirus humanos: ", :number => '01.05' }) %>     

           <%= partial(:'components/list',  :locals => { :list_items => [
            	["Virus linfotrópico humano de células T tipo 1 (HTLV-1): ","Relacionado con el desarrollo de la leucemia de células T del adulto, que es endémica de algunas zonas de Japón, Caribe y algunas partes de África. Es un tumor agresivo, de adultos jóvenes, con medianas de supervivencia cortas desde el diagnóstico. Estudios serológicos han demostrado que alrededor del 2-5% de los individuos seropositivos para el HTLV-1 desarrollarán leucemia de células T del adulto."], 
            	["Virus de la inmunodeficiencia humana (VIH), SIDA y cáncer: ", "Los virus de la inmunodeficiencia humana (VIH-1 y VIH-2) pertenecen a una subclase diferente de retrovirus llamados lentivirus. Ambos están asociados con el SIDA. No parecen estar relacionados de manera directa con la etiología de ningún tipo de tumor maligno. Sin embargo, los pacientes con SIDA tienen una alta incidencia de tumores, incluido el Sarcoma de Kaposi (herpesvirus), tumores asociados a papilomavirus, como el carcinoma de células escamosas del canal anal y cáncer de cérvix. La inmunodeficiencia inmunológica de estos pacientes favorece las infecciones virales, y con ello el desarrollo de tumores de probable etiología viral. "]]}) %> 


          </div>      
        </div>

        <div id="infecciosos-bacterias">    
            <%= partial(:'components/header2', :locals => { :text => "Bacterias: ", :number => '02.' }) %>          
				<%= partial(:'components/list',  :locals => { :list_items => [
            	["Helicobacter Pylori:  ","En la década de 1980 se cultivó la bacteria por primera vez y se determinó que era el agente causante de la mayoría de las úlceras gástricas y duodenales. Es un bacilo gram -, flagelado. La infección de esta bacteria se encuentra en más del 80% de la población mundial, aunque sólo un pequeño porcentaje desarrolla úlceras gástricas o duodenales. Se ha relacionado con dos tipos de tumores: adenocarcinoma gástrico y el linfoma tipo MALT gástrico (linfoma de tejido linfoide asociado a mucosas). Esta correlación es lo suficientemente fuerte para clasificar esta bacteria como carcinógeno por la IARC (International Agency for Research on Cancer). Las proteínas CagA y VacA son 2 de los factores potencialmente oncogénicos producidos por H.Pylori. "]]}) %>   
        </div>

        <div id="infecciosos-parasitos">           
			<%= partial(:'components/header2', :locals => { :text => "Parásitos: ", :number => '03.' }) %>  

			<p class="indented margin5">Sobre todo en países en vías de desarrollo</p>

			 <%= partial(:'components/list',  :locals => { :list_items => [
            	["Esquistosomiasis: ","Es una enfermedad parasitaria causada por el género del <i>Schistosoma. S. Haematobium</i> es responsable de la esquistosomiasis urinaria y puede causar infecciones crónicas. Representan un problema de salud pública en gran parte de África y Oriente Medio, solo superado por el paludismo entre las enfermedades parasitarias. Los tumores de vejiga asociados a este parásito son histológicamente diferentes del carcinoma de células en transición y se observan con mayor frecuencia en Estados Unidos y Europa."], 
            	["<i>Opisthorchis viverrini y Clonorquis sinensis:</i> ", "Son fasciolas hepáticas que se asocian con un mayor riesgo de colangiocarcinoma. Estas infecciones se adquieren por comer alimentos crudos o poco cocinados, y se producen casi exclusivamente en Asia Oriental, muy poco frecuentes en otras partes del mundo. "]]}) %>  

        </div>

        <div id="infecciosos-espana">     
			<%= partial(:'components/header2', :locals => { :text => "Situación en España", :number => '04.' }) %> 
			<p class="indented margin5">De manera reciente, un estudio ha evaluado cual es la carga de mortalidad por cáncer atribuible a agentes infecciosos en España. La proporción estimada de muertes atribuible a infecciones en 2017 fue del 8,3%. Cuatro agentes infecciosos cancerígenos representaron la gran mayoría de esta mortalidad (<i>H. Pylori</i>, VHB, VHC y VPH). El cáncer gástrico relacionado con el <i>H. Pylori</i>fue el más frecuente entre las muertes relacionadas con el cáncer atribuibles a infecciones. Estos datos son importantes, puesto que ante estos tumores, se pueden implantar medidas preventivas (como es el caso de la vacuna frente al VPH). En la siguiente tabla se puede observar el número estimado de muertes relacionadas con el cáncer asociadas a agentes infecciosos. </p> 

			 <%= partial(:'components/image-big',  :locals => { :image => "images/tabla-2.png", :title => "Tabla 2", :text => "Número estimado de muertes relacionadas con el cáncer asociadas a infecciones carcinógenas, por agentes infecciosos y tipos de cáncer (CIE-10), en España, 2017.", :id => "tabla-2"}) %> 

        </div>

 
 -----
          

    


    <div class="content--2" id="infecciosos-biblio">
      <%= partial(:'components/header1', :locals => { :text => t.bibliografia}) %>
      <ul class= "list">
        <%= partial(:'components/biblio',  :locals => { :title => t.biblio1_title, :magazine => t.biblio1_magazine, :link => t.biblio1_link}) %>
        <%= partial(:'components/biblio',  :locals => { :title => t.biblio2_title, :magazine => t.biblio2_magazine, :link => t.biblio2_link}) %>
        <%= partial(:'components/biblio',  :locals => { :title => t.biblio3_title, :magazine => t.biblio3_magazine, :link => t.biblio3_link}) %>
        <%= partial(:'components/biblio',  :locals => { :title => t.biblio4_title, :magazine => t.biblio4_magazine, :link => t.biblio4_link}) %>
        <%= partial(:'components/biblio',  :locals => { :title => t.biblio5_title, :magazine => t.biblio5_magazine, :link => t.biblio5_link}) %>
        <%= partial(:'components/biblio',  :locals => { :title => t.biblio6_title, :magazine => t.biblio6_magazine, :link => t.biblio6_link}) %>
        <%= partial(:'components/biblio',  :locals => { :title => t.biblio7_title, :magazine => t.biblio7_magazine, :link => t.biblio7_link}) %>
        <%= partial(:'components/biblio',  :locals => { :title => t.biblio8_title, :magazine => t.biblio8_magazine, :link => t.biblio8_link}) %>
        <%= partial(:'components/biblio',  :locals => { :title => t.biblio9_title, :magazine => t.biblio9_magazine, :link => t.biblio9_link}) %>
        <%= partial(:'components/biblio',  :locals => { :title => t.biblio10_title, :magazine => t.biblio10_magazine, :link => t.biblio10_link}) %>
        <%= partial(:'components/biblio',  :locals => { :title => t.biblio11_title, :magazine => t.biblio11_magazine, :link => t.biblio11_link}) %>
      </ul>
    </div>

    




      </div>
  </div>
</div>
  <%= javascript_include_tag "modulo6" %>