
<% t =  data.origen%>
<div id="home">
  <%=partial(:'components/sidebar-factores')  %>

  <div id="main">
    <div class="container">
      <div class="content">
        <div id="factores-presentacion">
        <%= partial(:'components/header1', :locals => { :text => "Factores de riesgo y pronóstico de la enfermedad tromboembólica"}) %>

        <div id="factores-presentacion">
          <%= partial(:'components/header2', :locals => { :text => t.presentacion, :number => ' ' }) %>
          <p class= "indented margin5 "> Los pacientes con cáncer tienen un mayor riesgo de <b>Enfermedad Tromboembólica Venosa</b> (ETV) secundario al estado de hipercoagulabilidad asociado al tumor y a distintos factores de riesgo dependientes del paciente o del tratamiento.  </p>
        </div>
        <br>
        
          <%= partial(:'components/header2', :locals => { :text => t.objetivos, :number => ' ' }) %>
        </div>  
        <div id="factores-objetivos" class="margin2">
          <p>Los objetivos de este módulo son:</p> 
          <%= partial(:'components/list',  :locals => { :list_items => [
            ["", "Conocer la incidencia y mortalidad asociada a ETV."], 
            ["", "Conocer los factores de riesgo de ETV en los pacientes con cáncer. "], 
            ["", "Conocer los modelos predictores de riesgo de ETV."]]}) %>
        
        </div>

        <div id="factores-introduccion">
          <%= partial(:'components/header2', :locals => { :text => "Introducción", :number => '' }) %>
          <p class= "indented margin5"> Los pacientes con cáncer tienen mayor riesgo de presentar complicaciones tromboembólicas debido a que el cáncer favorece un estado de hipercoagulabilidad o coagulación intravascular diseminada crónica. Las manifestaciones clínicas pueden oscilar desde alteraciones analíticas hasta complicaciones trombóticas o hemorrágicas graves.</p>

          <%= partial(:'components/concepto-clave', :locals => { :title => "importante", :text => "La aparición de la trombosis puede preceder el diagnóstico de cáncer en meses o años o puede aparecer al diagnóstico o durante el tratamiento."}) %>

          <p class= "indented margin5"> Aunque la mayoría de los pacientes con cáncer no van a presentar episodios tromboembólicos, su incidencia es elevada, siendo hasta cinco veces superior a la población en general. La incidencia va a depender de los distintos factores de riesgo, siendo de hasta siete veces mayor en aquellos pacientes con cáncer activo o metastásico. El mayor riesgo de desarrollar un evento trombótico ocurre en los 3-6 primeros meses tras el diagnóstico.</p>

          <%= partial(:'components/image-big',  :locals => { :image => "images/distribucion.png", :title => "Figura 1. The distribution of venous thromboembolism events is illustrated for the cancer cohort after the initiation of chemotherapy" , :text => "Fuente: Khorana et al Cancer 2012", :id => "disctribucion"}) %> 

           <p class= "indented margin5"> La incidencia de ETV en pacientes con cáncer está en aumento en probable relación con la mejora de los métodos diagnósticos, la incorporación de nuevos tratamientos y una significativa mayor supervivencia de los pacientes con cáncer.</p>

          <%= partial(:'components/image-big',  :locals => { :image => "images/evolucion-anual-pacientes.png", :title => "Figura 2" , :text => "Fuente: Khorana JCO 2006, 24:484-90", :id => "evolucion-anual-pacientes"}) %> 
        </div>
        <br><br><br>

        <div id="factores-riesgo">
          <%= partial(:'components/header2', :locals => { :text => "Factores de riesgo y pronóstico", :number => '01' }) %> 
          <div id="factores-riesgo-pronostico">
            <%= partial(:'components/header3', :locals => { :text => "Factores de riesgo y pronóstico de la enfermedad tromboembólica", :number => '01.01' }) %> 
            <p class= "indented margin5"> El riesgo de ETV no es el mismo en todos los pacientes con cáncer ni en el mismo paciente a lo largo del tiempo. Este riesgo varía entre 10-50% en función de la presencia de diferentes factores de riesgo. Estos factores de riesgo se pueden dividir en:</p>
            <br>

            <h4 class="margin5"><b>Relacionados con el paciente:</b></h4>

            <%= partial(:'components/list',  :locals => { :list_items => [
              ["", "Comorbilidad (enfermedad respiratoria, cardíaca, nefropatía, infecciones, obesidad). "], 
              ["", "Inmovilización."] , 
              [ "","Características demográficas. "], 
              ["", "Edad avanzada"], 
              ["", "Antecedentes de trombosis."]]}) %>  
            <br>  
            <h4 class="margin5"><b>Relacionados con el cáncer:</b></h4>

            <%= partial(:'components/list',  :locals => { :list_items => [
              ["", "Los tumores sólidos con mayor riesgo de ETV son: Cáncer de páncreas, gástrico, renal, pulmón, ovario, útero y cerebral. "], 
              ["", "Entre las enfermedades hematológicas: mieloma, linfoma y leucemia aguda. "] , 
              [ "","La enfermedad metastásica tiene mayor riesgo que la enfermedad localizada."], 
              ["", "El riesgo es mayor en los 3-6 primeros meses desde el diagnóstico y cuando la enfermedad está activa."], 
              ["", "Incidencia (%) acumulada de ETV según el tipo y el estadio del tumor (<b>ver tabla</b>)."]]}) %>  

            <table class="tabla margin5">
              <tr class="tabla__row">
                <th class="tabla__head tabla__row-header tabla__50 ">Tipo de Tumor</th>
                <th class="tabla__head tabla__25">Metastásico</th>
                <th class="tabla__head tabla__25">Tipo de tumor Metastásico Regional</th>
              </tr>
              <tr class="tabla__row ">
                <td class="tabla__row-header tabla__50">Páncreas</td>
                <td class="tabla__cell tabla__25">7,5</td>
                <td class="tabla__cell tabla__25">4,0</td>
              </tr>
              <tr class="tabla__row-gray">
                <td class="tabla__row-header tabla__50 tabla__50">Estómago</td>
                <td class="tabla__cell tabla__25">6,6</td>
                <td class="tabla__cell tabla__25">4,4</td>
              </tr>
              <tr class="tabla__row">
                <td class="tabla__row-header tabla__50 ">Riñón</td>
                <td class="tabla__cell tabla__25">6,3</td>
                <td class="tabla__cell tabla__25">6,8 </td>
              </tr>
              <tr class="tabla__row-gray">
                <td class="tabla__row-header tabla__50 ">Ovario</td>
                <td class="tabla__cell tabla__25">4,2</td>
                <td class="tabla__cell tabla__25">1,9</td>
              </tr>
              <tr class="tabla__row">
                <td class="tabla__row-header tabla__50 ">Linfoma</td>
                <td class="tabla__cell tabla__25">2,8</td>
                <td class="tabla__cell tabla__25">3,6</td>
              </tr>
              <tr class="tabla__row-gray">
                <td class="tabla__row-header tabla__50 ">Pulmón</td>
                <td class="tabla__cell tabla__25">3,2</td>
                <td class="tabla__cell tabla__25">2,3</td>
              </tr>
              <tr class="tabla__row">
                <td class="tabla__row-header tabla__50 ">Colon</td>
                <td class="tabla__cell tabla__25 ">3,5</td>
                <td class="tabla__cell tabla__25  ">2,7</td>
              </tr>
              <tr class="tabla__row-gray">
                <td class="tabla__row-header tabla__50 ">Útero</td>
                <td class="tabla__cell tabla__25  ">5,3</td>
                <td class="tabla__cell tabla__25  ">2,1</td>
              </tr>
              <tr class="tabla__row">
                <td class="tabla__row-header tabla__50 ">Vejiga</td>
                <td class="tabla__cell tabla__25  ">5,6</td>
                <td class="tabla__cell tabla__25  ">3,8</td>
              </tr>
              <tr class="tabla__row-gray">
                <td class="tabla__row-header tabla__50 ">Mama</td>
                <td class="tabla__cell tabla__25  ">2,8</td>
                <td class="tabla__cell tabla__25  ">1,2</td>
              </tr>
              <tr class="tabla__row">
                <td class="tabla__row-header tabla__50 ">Próstata</td>
                <td class="tabla__cell tabla__25  ">1,2</td>
                <td class="tabla__cell tabla__25  ">1,3</td>
              </tr>
              </tr>
            </table>

            <br>  
            <h4 class="margin5"><b>Relacionados con el tratamiento:</b></h4>
            <p  class="indented margin5">La administración de quimioterapia está relacionada con mayor riesgo de ETV y supone un riesgo de hasta más de 6 veces de desarrollar ETV. Entre los fármacos que se asocian de forma más evidente al desarrollo de enfermedad tromboembólica se encuentra el cisplatino.</p>
            <p  class="indented margin2">Otros tratamientos como la terapia hormonal con tamoxifeno y el empleo de agentes estimuladores de la eritropoyesis aumentan el riesgo de ETV.</p>

            <p  class="indented margin5">Otro factor de riesgo es ser portador de catéter venoso central que aumenta el riesgo de ETV en miembros superiores relacionado con la agresión vascular y las infecciones relacionadas con su implantación.</p>

          <%= partial(:'components/concepto-clave', :locals => { :title => "importante", :text => "La cirugía es un factor de riesgo de presentar ETV y este riesgo se mantiene hasta más de 7 semanas después. Este riesgo es mayor en mayores de 65 años, enfermedad metastásica, ascitis, antecedentes de fallo cardíaco congestivo, IMC > 25mg/m2, Plaquetas > 400.00/microL, Albumina < 3g/dL y tiempo de cirugía mayor de 2 horas."}) %>

            <p  class="indented margin5">Otros factores como el empleo de esteroides reciente o la existencia de complicaciones postoperatorias (sepsis, reintubación, paro cardíaco, infección de la herida quirúrgica) parecen estar relacionados con una mayor incidencia de ETV.</p>

            <br>
          </div>   
          <div id="factores-pronostico">
            <%= partial(:'components/header3', :locals => { :text => "Factores pronósticos:", :number => '01.02' }) %> 

            <p  class="indented margin5">La aparición de fenómenos tromboembólicos se asocia con un incremento en la morbilidad y mortalidad de los pacientes con cáncer respecto a los que no presentan ETV o no presentan cáncer.</p>

            <%= partial(:'components/image-big',  :locals => { :image => "images/overall-survival.png", :title => "Figura 3. Adjusted for major confounders: Age, gender, race, cancer type, stage, year of therapy, chemotherapy type and dose intensity, major laboratory abnormalities, PS, BMI, and comorbid conditions" , :text => "Fuente: Khorana et al Cancer 2012", :id => "overall-survival"}) %> 

            <div class="card_row">
              <%= partial(:'components/image-small',  :locals => { :image => "images/overall-survival-a.png",  :title => "Figura 4. ", :text => "Overall survival for National Cancer Institute of Canada PA3 patients randomly assigned to gemcitabine plus erlotinib. VTE, venous thromboembolism.",  :id => "survival-a"}) %>
              <%= partial(:'components/image-small',  :locals => { :image => "images/overall-survival-b.png",  :title => "Figura 5. ", :text => "Overall survival for National Cancer Institute of Canada PA3 patients randomly assigned to gemcitabine plus placebo. VTE, venous thromboembolism.",  :id => "survival-b"}) %>             
            </div>
            <br>  

            <%= partial(:'components/list',  :locals => { :list_items => [
              ["", "El riesgo de muerte tras un episodio de ETV es hasta ocho veces mayor en los pacientes con cáncer respecto a los que no lo padecen. "], 
              ["", "La ETV es la segunda causa de muerte en pacientes con cáncer y provoca un importante impacto en la calidad de vida de estos pacientes."] , 
              [ "","En un estudio retrospectivo sobre pacientes hospitalizados por ETV se objetivó que el riesgo de muerte a los 6 meses era de 84% en los pacientes con cáncer frente al 29% en la población general."]]}) %>  


            <%= partial(:'components/image-big',  :locals => { :image => "images/causas-muerte.png", :title => "Figura 6." , :text => " Causas de muerte en pacientes con cáncer", :id => "causas-muerte"}) %> 

            <p  class="indented margin5">La ETV recurrente es tres veces superior en pacientes con cáncer y hace necesaria la anticoagulación en periodos más prolongados.</p>

            <%= partial(:'components/image-big',  :locals => { :image => "images/cumulative-incidence.png", :title => "Figura 7." , :text => " Cumulative incidence of recurrent VTE during anticoagulant therapy", :id => "cumulative-incidence"}) %> 
            
            <p  class="indented margin5">La anticoagulación en pacientes con cáncer provoca mayor riesgo de hemorragia en los pacientes con cáncer que en los que no presentan la enfermedad.</p>

            <%= partial(:'components/image-big',  :locals => { :image => "images/anticoagulant.png", :title => "Figura 1F" , :text => " Cumulative incidence of bleeding during anticoagulant therapy", :id => "anticoagulant"}) %> 
            
            <p  class="indented margin5">El riesgo de tromboembolismo pulmonar grave en pacientes sometidos a una intervención quirúrgica es hasta tres veces superior en pacientes con cáncer.</p>
          </div>  
         </div>  
<br>
        
        <div id="factores-predictivos">
          <%= partial(:'components/header2', :locals => { :text => "Modelos predictivos de riesgo", :number => '02' }) %>
            
            <p  class="indented margin5">Son varios los modelos predictivos de ETV que han sido desarrollados. <span class="container__highlight">Khorana fue el primer score validado en pacientes con cancer en tratamiento con quimioterapia. Este score ha sido validado en diferentes estudios prospectivos.</span> </p>
            <p  class="indented margin2">Los porcentajes de riesgo en función de la clasificación del riesgo basada en el Modelo Khorana varían según los estudios por la diferente selección de pacientes y los periodos de seguimiento.</p>


            <h4 class="margin5"><b>Tabla 3. Modelo predictivo de Khorana et al. para la ETV asociada a quimioterapia.</b></h4>

            <table class="tabla margin5">
              <tr class="tabla__row">
                <th class="tabla__head tabla__row-header tabla__75 ">Características de los pacientes</th>
                <th class="tabla__head tabla__25">Puntos</th>
              </tr>
              <tr class="tabla__row ">
                <td class="tabla__row-header tabla__75"><b>Localización del tumor primario</b></td>
                <td class="tabla__cell tabla__25"></td>
                
              </tr>
              <tr class="tabla__row">
                <td class="tabla__rowcell tabla__75 indented">    Muy alto riesgo: estómago, páncreas</td>
                <td class="tabla__cell tabla__25">2</td>
               
              </tr>
              <tr class="tabla__row">
                <td class="tabla__rowcell tabla__75 indented">    Alto riesgo: pulmón, linfomas, ginecológico, vejiga, testículo</td>
                <td class="tabla__cell tabla__25">1</td>
             
              </tr>
              <tr class="tabla__row-gray">
                <td class="tabla__cell tabla__75 ">Recuento de plaquetas prequimioterapia ≥375.000/mm3</td>
                <td class="tabla__cell tabla__25">1</td>
               
              </tr>
              <tr class="tabla__row">
                <td class="tabla__rowcell tabla__75 ">Hemoglobina <10 g/dl o uso de agentes eritropoyéticos</td>
                <td class="tabla__cell tabla__25">1</td>
              </tr>
              <tr class="tabla__row-gray">
                <td class="tabla__rowcell tabla__75 ">Recuento de leucocitos prequimioterapia >11.000/mm3</td>
                <td class="tabla__cell tabla__25">1</td>
              </tr>
              <tr class="tabla__row">
                <td class="tabla__rowcell tabla__75 ">IMC ≥35kg/m2</td>
                <td class="tabla__cell tabla__25 ">1</td>
              </tr>
              </tr>
            </table>


            <table class="tabla margin5">
              <tr class="tabla__row">
                <th class="tabla__head tabla__row-header tabla__33 ">Puntuación total</th>
                <th class="tabla__head tabla__33">Categoría de riesgo</th>
                <th class="tabla__head tabla__33">Riesgo de ETV sintomática</th>
              </tr>
              <tr class="tabla__row ">
                <td class="tabla__row-header tabla__33">0</td>
                <td class="tabla__cell tabla__33">Bajo</td>
                <td class="tabla__cell tabla__33">0,8 – 3%</td>
              </tr>
              <tr class="tabla__row-gray">
                <td class="tabla__row-header tabla__33 ">1 – 2</td>
                <td class="tabla__cell tabla__33">Intermedio</td>
                <td class="tabla__cell tabla__33">1,8 – 8,4%</td>
              </tr>
              <tr class="tabla__row">
                <td class="tabla__row-header tabla__50 ">3 o más</td>
                <td class="tabla__cell tabla__33">Alto</td>
                <td class="tabla__cell tabla__33">7,1 – 41%</td>
              </tr>
              </tr>
            </table>
    
            <br>
            <br>
            <h4 class="margin5"><b>Tabla 4. Tabla. Modelos predictivos de ETV en pacinetes con cancer.</b></h4>
            <div class="scroll-container">
            <table class="tabla margin5">
              <tr class="tabla__row">
                <th class="tabla__head tabla__row-header  "></th>
                <th class="tabla__head ">KHORANA</th>
                <th class="tabla__head ">VIENNA CATS score</th>
                <th class="tabla__head ">PROTECHT score</th>
                <th class="tabla__head ">CONKO score</th>
                <th class="tabla__head ">Oncothromb-Tic Onco score </th>
                <th class="tabla__head ">Compass-CAT score</th>
                <th class="tabla__head ">Onkotev score</th>
                <th class="tabla__head ">Pabinger el al.</th>
              </tr>
              <tr class="tabla__row ">
                <td class="tabla__row-header ">Nº de variables</td>
                <td class="tabla__cell ">5</td>
                <td class="tabla__cell ">7</td>
                <td class="tabla__cell ">6</td>
                <td class="tabla__cell ">6</td>
                <td class="tabla__cell ">4</td>
                <td class="tabla__cell ">8</td>
                <td class="tabla__cell ">8</td>
                <td class="tabla__cell ">2</td>
              </tr>
              <tr class="tabla__row-gray ">
                <td class="tabla__row-header ">Validado</td>
                <td class="tabla__cell ">Sí</td>
                <td class="tabla__cell ">No</td>
                <td class="tabla__cell ">No</td>
                <td class="tabla__cell ">No</td>
                <td class="tabla__cell ">Sí</td>
                <td class="tabla__cell ">Sí</td>
                <td class="tabla__cell ">No</td>
                <td class="tabla__cell ">Sí</td>
              </tr>
              <tr class="tabla__row-gray ">
                <td class="tabla__row-header ">Variables</td>
                <td class="tabla__cell ">Tipo de tumor, Anemia/Estimulantes EPO, Leucocitosis, Trombocitosis, IMC > 35kg/m2</td>
                <td class="tabla__cell ">Tipo de tumor, Anemia/ Estimulantes EPO, Leucocitosis, Trombocitosis, IMC > 35, D-Dímero, P-Selectina</td>
                <td class="tabla__cell ">Tipo de tumor, Anemia/Estimulantes, EPO, Leucocitosis, Trombocitosis, IMC > 35kg/m2, QT basada en Gemcitabina-Platino</td>
                <td class="tabla__cell ">Tipo de tumor, Anemia/Estimulantes EPO, Leucocitosis, Trombocitosis, IMC > 35kg/m2, Performance Status</td>
                <td class="tabla__cell ">Tipo de tumor, IMC > 25, Score genético, Estadio</td>
                <td class="tabla__cell ">Trombocitosis, Estadio, Antraciclina/Hormona,  Tiempo desde diagnóstico, Portactah, Factores de riesgo cardiovascular, Hospitalización reciente, Antecedentes personales</td>
                <td class="tabla__cell ">Tipo de tumor, Anemia/Estimulantes EPO, Leucocitosis, Trombocitosis, IMC > 35, Estadio, Antecedentes personales, ETV, Compresión linfática/vascular</td>
                <td class="tabla__cell ">Tipo de tumor, D-Dímero</td>
              </tr>

 
              </tr>
            </table>
          </div>
          <p  class="indented margin2">Existen otros modelos predictivos, algunos de ellos validados también en pacientes con cancer (ver tabla).</p>
    
 

        </div>  

              <%= partial(:'components/siguiente',  :locals => { :link => "../profilaxis.html"}) %> 

        

    




      </div>
  </div>
</div>
  <%= javascript_include_tag "modulo1" %>