
<% t =  data.origen%>
<div id="home">
  <%=partial(:'components/sidebar-origen')  %>

  <div id="main">
    <div class="container">
      <div class="content">
        <div id="origen-presentacion">
        <%= partial(:'components/header1', :locals => { :text => t.title}) %>

        
          <%= partial(:'components/header2', :locals => { :text => t.presentacion, :number => ' ' }) %>
          <p class= "indented margin5 "> <%= t.presentacion_text1 %> </p>
          <br>
          <p class= "indented  "> <%= t.presentacion_text2 %> </p>
        </div>
        <br><br>

        <div id="origen-objetivos">
          <%= partial(:'components/header2', :locals => { :text => t.objetivos, :number => ' ' }) %>
          <%= partial(:'components/list',  :locals => { :list_items => [["", t.objetivo1], ["", t.objetivo2], ["", t.objetivo3], ["", t.objetivo4]]}) %>
        </div>

        <div id="origen-biomarcadores">
          <%= partial(:'components/header2', :locals => { :text => t.biomarcadores, :number => '01.' }) %>
          <p class= "indented margin5"> <%= t.biomarcadores_text %></p>
          
          <div id="origen-biomarcadores1">
            <%= partial(:'components/header3', :locals => { :text => t.pronosticos, :number => '01.01' }) %>
            <p  class="margin5"><%= t.pronosticos_text %></p>

            <%= partial(:'components/concepto-clave', :locals => { :title => t.concepto_clave, :text => t.pronosticos_highlight}) %>

            <%= partial(:'components/image-big',  :locals => { :image => "images/biomarcadores-pronosticos.png", :title => t.image1_title, :text => t.image1_text, :id => "biomarcadores-pronosticos"}) %>     

          </div>

          <div id="origen-biomarcadores2">
            <%= partial(:'components/header3', :locals => { :text => t.predictivos, :number => '01.02' }) %>
            <p  class="margin5"><%= t.predictivos_text %></p>

            <%= partial(:'components/concepto-clave', :locals => {  :title => t.concepto_clave,  :text => t.predictivos_highlight}) %>

            <%= partial(:'components/image-big',  :locals => { :image => "images/biomarcadores-predictivos.png", :title => t.image2_title, :text => "(A) en pacientes que reciben tratamiento específico frente al biomarcador, (B) en pacientes que no reciben dicho tratamiento. (C) Pacientes que expresan, y (D) patientes que no expresan el biomarcadores de interés. En este caso se puede observar como la administración de un tratamiento específico modifica la probabilidad de supervivencia de los pacientes. Tomada de <i>ESMO Handbook of Translational Research, 2nd edition, 2015.</i>", :id => "biomarcadores-predictivos"}) %>          

            <p class= "indented margin5"> <%= t.biomarcadores_text2 %></p>
            <p class= "indented margin5"> <%= t.biomarcadores_text3 %></p>
            <p class= "indented margin5"> <%= t.biomarcadores_text4 %></p>
          </div>  
        </div>
        <div id="origen-genoma">        
          <%= partial(:'components/header2', :locals => { :text => t.cap2_title, :number => '02.' }) %>
          <p class= "indented margin5"> <%= t.cap2_t1 %></p>
          <%= partial(:'components/image-big',  :locals => { :image => "images/genoma.png", :title => t.cap2_img1_title, :text => t.cap2_img1_text, :id => "genoma"}) %>
          <p class= "indented margin5"> <%= t.cap2_t2 %></p>        
          <%= partial(:'components/list',  :locals => { :list_items => [["", t.cap2_li1_1], ["", t.cap2_li1_2] , [ "",t.cap2_li1_3]]}) %>  
          <div id="origen-genoma1">
            <%= partial(:'components/header3', :locals => { :text => t.cap2_subtitle1, :number => '02.01' }) %> 
            <p class= "indented margin5"> <%= t.cap2_t3 %></p>  
            <div class="card_row">
              <%= partial(:'components/card', :locals => { :title => t.cap2_card1_title, :body => t.cap2_card1_body }) %>
              <%= partial(:'components/card', :locals => { :title => t.cap2_card2_title, :body => "Son genes “activadores”, es decir, actúan como el acelerador de un coche, de manera que una alteración en la función de un proto-oncogén sería el equivalente a tener el acelerador continuamente presionado (activación continua del proceso de carcinogénesis). Pueden activarse mediante translocaciones cromosómicas, mutaciones puntuales o amplificaciones/sobre-expresiones. Normalmente, la alteración de un solo  alelo (heterocigosis) es suficiente para que se manifieste (por eso se denominan genes dominantes). <br> <p><i>Ejemplos de oncogenes: MYC y RAS</i></p>"}) %>
            </div>
            <%= partial(:'components/image-big',  :locals => { :image => "images/oncogen.png", :title => t.cap2_img2_title, :text => t.cap2_img2_text, :id => "oncogen"}) %>
             <div class="card_row">
              <%= partial(:'components/card', :locals => { :title => t.cap2_card3_title, :body => "Por el contrario, estos genes actúan como “frenos”, de manera que cuando no está alterada su función, inhiben la carcinogénesis. Son los llamados “guardianes del genoma”. Las mutaciones en los genes supresores generalmente producen un truncamiento de la proteína codificada por dicho gen, y es necesaria la alteración de los dos alelos (por eso se denominan genes recesivos), causando la pérdida de heterocigosidad (en inglés, LOH), para que se manifiesten.  <br> <p><i>Ejemplos de genes supresores tumorales: p53 y RB1 </i></p>" }) %>
              <%= partial(:'components/card', :locals => { :title => t.cap2_card4_title, :body => "Son genes que codifican proteínas implicadas en la reparación del ADN. Su alteración conlleva la imposibilidad de reparar estos errores, acumulándose por tanto, en las células mutaciones. Son genes recesivos, al igual que los genes supresores. <br> <p><i>Ejemplos de genes de reparación del ADN: BRCA1 y BRCA2 </i></p>"}) %>
            </div>
          </div>
          <div id="origen-genoma2">
            <%= partial(:'components/header3', :locals => { :text => t.cap2_subtitle2, :number => '02.02' }) %> 
            <p class= "indented margin5"> <%= t.cap2_t3 %> <span class="container__highlight"><%= t.cap2_span1 %></span> <%= t.cap2_t4 %> </p>
            <p class= "indented margin5"> <%= t.cap2_t5 %> <span class="container__highlight"><%= t.cap2_span2 %></span> <%= t.cap2_t6 %> </p>
            <p class= "indented margin5"> <%= t.cap2_t7 %></p>


            <%= partial(:'components/image-big',  :locals => { :image => "images/mutaciones-somaticas.png", :title => t.cap2_img3_title, :text => "Cada punto representa una muestra, y las líneas horizontales rojas son la media de las mutaciones en los respectivos tipos de cáncer. El eje vertical en escala logarítmica muestra el número de mutaciones por megabase de datos, mientras que los diferentes tipos de cáncer están ordenados en el eje horizontal según su número medio de mutaciones somáticas. . Figura sacada de <i> Alexandrov LB, Nature, 2013</i>", :id => "mutaciones-somaticas"}) %>

            <div class="card_row">
              <%= partial(:'components/card', :locals => { :title => t.cap2_card5_title, :body => t.cap2_card5_body }) %>
              <%= partial(:'components/card', :locals => { :title => t.cap2_card6_title, :body => t.cap2_card6_body}) %>
            </div>

            <div class="card_row">
              <%= partial(:'components/card', :locals => { :title => t.cap2_card7_title, :body => t.cap2_card7_body }) %>
            </div>

            <p class= "indented margin5"> <%= t.cap2_t9 %></p>   

            <div class="card_row">
              <%= partial(:'components/card', :locals => { :title => t.cap2_card8_title, :body => t.cap2_card8_body }) %>
              <%= partial(:'components/card', :locals => { :title => t.cap2_card9_title, :body => t.cap2_card9_body}) %>
            </div> 

             <div class="card_row">
              <div class="card " id=<%= t.cap2_card10_title %>>
                <div class="card__header">
                  <h4><%= t.cap2_card10_title %></h4>
                  <i class="fas fa-plus primary"></i>
                </div>
                <div class="card__body">
                  <p><%= t.cap2_card10_body %></p>
                  <li>
                    <ul><b><%= t.cap2_card10_body_l1a  %></b> <%= t.cap2_card10_body_l1b  %></ul>
                    <ul><b><%= t.cap2_card10_body_l2a  %></b> <%= t.cap2_card10_body_l2b  %></ul>  
                  </li>
                </div>
              </div>


              <%= partial(:'components/card', :locals => { :title => t.cap2_card11_title, :body => t.cap2_card11_body}) %>
            </div> 

            <div class="card_row">
              <%= partial(:'components/card', :locals => { :title => t.cap2_card12_title, :body => t.cap2_card12_body }) %>
            </div> 

            <div class="concepto-clave">
              <p class= 'concepto-clave__title'><%= t.recuerda%></p>  
              <p class="margin2"> <%= t.cap2_cc1 %></p>
            </div>  

            <div class="concepto-clave">
              <p class= 'concepto-clave__title'><%= t.recuerda%></p>  
              <p class="margin2"> <%= t.cap2_cc2 %></p>
            </div>  
                     

            <div class="concepto-clave">
              <p class= 'concepto-clave__title'><%= t.recuerda%></p>  
              <p class="margin2"> <%= t.cap2_cc3a %> <span class="container__highlight"><%= t.cap2_cc3b %></span> <%= t.cap2_cc3c %> <span class="container__highlight"> <%=t.cap2_cc3d %> </span> <%= t.cap2_cc3e %> </p>
            </div>  

            <div class="concepto-clave--background">
              <div class="concepto-clave__title">A modo de ejemplo</div>
              <p class="margin2"><%= t.ejemplo  %></p>
              <div class= "list">
                <div class="list__line">
                  <div class="list__star">*</div> 
                  <div class="list__item"><b> Missense mutation: </b><i> Soy sal del mar &rarr; Soy  <b> sil  </b>del mar</i>
                    <p>Hay un cambio de nucleótido que hace perder el sentido de la frase</p></div>
                </div>  
                <div class="list__line">
                  <div class="list__star">*</div> 
                  <div class="list__item"><b> Nonsense mutation:  </b><i> Soy sal del mar &rarr; Soy sal</i>
                    <p>Hay un cambio que produce un truncamiento prematuro de la frase, perdiendo el sentido</p></div>
                </div> 
                <div class="list__line">
                  <div class="list__star">*</div> 
                  <div class="list__item"><b> Frameshift mutation:  </b><i> Soy sal del mar &rarr; Soy  <b> ald elm ars</b></i>
                    <p>Hay un cambio en el marco de lectura que provoca que la frase pierda el sentido </p></div>
                </div>    
              </div>
            </div>
            <br><br>

            <div class="indented margin5">Por otra parte, podemos encontrar estos otros términos para referirnos a las mutaciones:  </div>
              <div class= "list"> 
                <div class="list__line">
                  <div class="list__star">*</div> 
                  <div class="list__item"><b> Mutaciones “driver” (conductoras): </b> Son las responsables de aportar una ventaja de crecimiento a las células. En muchas ocasiones, estas mutaciones son seleccionadas por el microambiente tumoral, para dar esa ventaja evolutiva a los tumores. Dentro de estas podemos hablar también de <span class="container__highlight">mutaciones accionables o diana, </span> que son aquellas que además tienen un abordaje de tratamiento específico.  </div>
                </div> 
                 <div class="list__line">
                  <div class="list__star">*</div> 
                  <div class="list__item"><b> Mutaciones “passenger” (pasajeras o neutras):  </b> Son más “irrelevantes” ya que no producen una ventaja evolutiva en las células que las presentan. No suelen ser objetivo de tratamiento. </div>
                </div>              
            </div>
          </div>


            <div id="origen-genoma3">
            <%= partial(:'components/header3', :locals => { :text => "Clasificación taxonómica del cáncer", :number => '02.03' }) %>
            <p class="indented margin5">El desciframiento del genoma del cáncer ha supuesto un impacto en la práctica clínica: ha permitido identificar nuevos genes implicados en el desarrollo y evolución del cáncer, así como establecer nuevas clasificaciones taxonómicas en determinados tipos de tumores. </p>
            <p class="indented margin2">Como se ha mencionado anteriormente, hasta no hace mucho tiempo, los tumores se clasificaban en base a dos criterios: su localización u origen y su histología. Estos criterios siguen siendo utilizados actualmente para establecer el pronóstico inicial y el tratamiento. Sin embargo, es sabido que pacientes con tumores histológicamente iguales pueden tener pronósticos, evoluciones y respuestas a las terapias muy diferentes. </p>
            <p class="indented margin2">Las mutaciones que afectan a los genes implicados en cáncer tienen un papel fundamental, y están sirviendo para re-definir la taxonomía de los diferentes tipos de tumores. Se pueden identificar subgrupos genéticamente claramente diferenciados dentro de un mismo tipo de tumor (misma histología) con respecto al pronóstico y la respuesta a los tratamientos. </p>
            <p class="indented margin2">El Atlas del Genoma del Cáncer, conocido como TGCA (The Cancer Genome Atlas), tiene como finalidad a través de la secuenciación y su análisis, clasificar los diferentes tipos de tumores en base a sus perfiles moleculares. </p>
            <p class="indented margin2">El cáncer colorectal es uno de los ejemplos de estos avances. Estos tumores se pueden clasificar claramente según el perfil de mutación de los genes implicados en la vía de KRAS. Se sabe que las mutaciones en KRAS acontecen en aproximadamente el 40% de los tumores colorectales. Otro subtipo de este tumor alberga mutaciones en BRAF, uno de los efectores inmediatos de KRAS. Ambas mutaciones (KRAS y BRAF) han demostrado que disminuyen la capacidad de respuesta a las terapias de anticuerpos monoclonales anti-EGFR en estos pacientes (Figura 5). </p>

            <%= partial(:'components/image-big',  :locals => { :image => "images/analisis-integrador.png", :title => "Figura 5: Análisis integrador de cambios genómicos en 195 tumores colorectales", :text => "Los tumores hipermutados están altamente enriquecidos para mutaciones BRAF (V600E). Los cambios en el número de copias de los 22 cromosomas se muestran en rojo para las ganacias y en azul para las pérdidas en el número de copias. Sacada de The Cancer Genome Atlas Network, Nature, 2012. ", :id => "integrador"}) %>          
          </div>
        </div>
      </div>
      <br>


    <div class="content--2" id="origen-biblio">
      <%= partial(:'components/header1', :locals => { :text => t.bibliografia}) %>
      <ul class= "list">
        <%= partial(:'components/biblio',  :locals => { :author => "FDA-NIH Biomarker Working Group. ", :title => "BEST (Biomarkers, EndpointS, and other Tools). Silver Spring (MD): Food and Drug Adminsitration (US); 2016. ", :link => ""}) %>
        <%= partial(:'components/biblio',  :locals => { :author => "Tortora G, Sessa C, Scarpa A and Banerjee S. ", :title => "ESMO Handobook of Trasnlational Research, 2nd edition. ESMO Handbook Series. 2015. ", :link => ""}) %>
        <%= partial(:'components/biblio',  :locals => { :author => "Kalia M. ", :title => "Biomarkers for personalized oncology: recent advances and future challenges. Matabolism 2015; 64(3):S16-S21.", :link => t.biblio3_link}) %>
        <%= partial(:'components/biblio',  :locals => { :author => "Scher HI, Morris MJ, Larson S and Heller G. ", :title => "Validation and clinical utility of prostate cáncer biomarkers. Nat Rev Clin Oncol, 2013. 10(4):225-34. ", :link => ""}) %>
        <%= partial(:'components/biblio',  :locals => { :author => "Croce CM. ", :title => "Oncogenes and cancer. N Engl J Med 2008; 358:502-11.", :link => ""}) %>
        <%= partial(:'components/biblio',  :locals => { :author => "DeVita VT, Lawrence TS, Rosenberg SA. ", :title => "DeVita, Hellman, and Rosenberg´s cancer: principles & practice of oncology. 11th Edition, Philadelphia, Wolters Kluwer. 2019.", :link => ""}) %>
        <%= partial(:'components/biblio',  :locals => { :author => "Medelsohn J, Howley PM, Israel MA, Gray JW, et al. ", :title => "The molecular basis of cancer. Philadelphia, Elsevier. 2015. ", :link => ""}) %>
        <%= partial(:'components/biblio',  :locals => { :author => "Niederhuber JE, Armitage JO, Doroshow JH, Kastan MB, et al. ", :title => "Abeloff´s Clinical Oncology, 6th Edition. Elsevier, 2019. ", :link => ""}) %>
      </ul>
    </div>

    




      </div>
  </div>
</div>
    <%= javascript_include_tag "modulo1" %>